.header {
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}

a {
  color: #ffffff;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0 0.5rem;
}
